

.bookmark-card {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.bookmark-card p {
    padding: 0 0.5rem;

}

nav { 
    display: flex;
    justify-content: center;
}

nav button {
    margin: 2rem 0.5rem;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}