
input {
    margin: auto;
    width:65%;
}

button[type='submit'] {
    width:100px;
    margin: auto;
    padding:0.5rem 1rem;
    margin-top: 1rem;
}

h1 {
    margin-bottom: 0.25rem;
}

form {
    margin-top: 1rem;
}